body {
    background: linear-gradient(to right, #ff6b6b, #3b5998); /* Gradient background */
}

.center {
    width: 50%;
    margin: 10% auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
}
.btn {
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text color */
    border: 1px solid #007bff; /* Same color as background */
}

.btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
h1 {
    font-size: 2.5em;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 2px #888888;
}
.form-group {
    padding: 10px;
}

.btn:hover {
    background-color: #004080; /* Darker blue on hover */
    color: #fff; /* White text color on hover */
}

